body{
    background-color: #58f160;
    color: #ffffff;
    font-family: system-ui;
}
header{
    text-align: center;
}
section{
    background-color: rgba(0, 0, 0, 0.212);
    width: 400px;
    height: 350px;
    margin: auto;
    border-radius: 10px;
    border: 2px solid #fff;
    padding: 10px;
    color: #f0f0f0;
    box-shadow: 10px 10px 12px #1b770280;
    padding: 1.5em;
}
strong{
    color: rgb(255, 53, 53);
    background-color: #fff;
}
footer{
    text-align: center;
    font-style: italic;
}


/* ESTILO DO CURSO

body{
    background-color: #9dcfff;
}
header{
    color: #ffffff;
    text-align: center;
}
section{
    border-radius: 10px;
    padding: 15px;
    width: 80%;
    margin: auto;
    background-color: #ffffff;
    box-shadow: 3px 6px 7px 3px #0000003a;
}
footer{
    text-align: center;
    color: #ffffff;
    font-style: italic;
} */